.flex-container
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 450px;

}
.flex-container > div
{
     line-height: 75px;
}
div.itemA
{

    background-color: #ff001f;

}
div.itemB
{

    background-color: #006869;

}
div.itemC
{

    background-color: pink;

}
div.itemD
{

    background-color: #105100;

}
div.itemE
{

    background-color: yellow;

}
div.itemF
{

    background-color: brown;

}

/*<button onclick="myFunction();">ton</button><p class="p1">Hacer tienda</p>*/



